@import 'shared';

:host {
  display: block;
}

.mat-tab-nav-bar {
  flex-grow: 1;
  border-color: $color-light-text;

  ::ng-deep {
      .mat-ink-bar {
          background-color: $color-light-text;
      }
  }
}

.mat-tab-link {
  color: $color-dark-text;
  opacity: 1;
}
