<router-outlet></router-outlet>

<mat-card>
  <mat-card-header>
    <mat-card-title>Weather report</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let weather of watherTest$ | async">
        {{ weather.summary }}: {{ weather.temperatureC }} °C
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onReloadClick()">Reload</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="firstBadge$ | async as firstBadge">
  {{ firstBadge.badgeId }}: {{ firstBadge.name }} ({{ firstBadge.description }})
</div>