<nav>
  <badgerer-app-header>
    <div mat-tab-nav-bar>
      <a routerLink="badge" routerLinkActive #badgeActive="routerLinkActive" [active]="badgeActive.isActive"
        mat-tab-link>Badges</a>
      <a routerLink="team" routerLinkActive #teamActive="routerLinkActive" [active]="teamActive.isActive"
        mat-tab-link>Teams</a>
      <a routerLink="change-detection" matTooltip="Change detection demos" routerLinkActive #cdActive="routerLinkActive"
        [active]="cdActive.isActive" mat-tab-link>CD (demo)</a>
    </div>
  </badgerer-app-header>
</nav>

<router-outlet></router-outlet>
