<table mat-table [dataSource]="badges">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <a mat-icon-button routerLink="/badge/detail/{{element.id}}/{{element.name}}" matTooltip="Detail">
                <mat-icon>description</mat-icon>
            </a>
            <a mat-icon-button routerLink="/badge/edit/{{element.id}}/{{element.name}}" matTooltip="Edit">
                <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button (click)="deleteBadge.emit(element.id)" matTooltip="Delete badge '{{ element.name }}' [{{ element.id }}]">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>