<div>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" [(ngModel)]="name" matInput placeholder="Filter by name starting with..." />
    </mat-form-field>
    <button mat-stroked-button (click)="onFilter()">
        <mat-icon>search</mat-icon> Search
    </button>
    <button mat-stroked-button (click)="onRefresh()">Refresh</button>
</div>
<span *ngIf="(badgesTotal$ | async) as total">
    <span *bgIfLoading="total">Loading...</span>{{total.data}}
</span>
<ng-container *ngIf="(badges$ | async) as badges">
    <badgerer-badge-table [badges]="badges.data" (deleteBadge)="onDeleteBadge($event)">
    </badgerer-badge-table>

    <p *bgIfLoading="badges">Loading...</p>
</ng-container>

<ng-template #confirmDialogTemplate let-data>
    <h2 mat-dialog-title>{{ data?.title }}</h2>
    <mat-dialog-content>{{ data?.message }}</mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button [mat-dialog-close]="true">Delete</button>
        <button mat-stroked-button mat-dialog-close cdkFocusInitial>Cancel</button>
    </mat-dialog-actions>
</ng-template>